@use './components' as *;

body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  